@import 'tailwindcss';

@theme {
    --font-sans: 'Roboto', sans-serif;
    --font-mono: 'Roboto Mono', monospace;

    --color-textPrimary: #ffffff;
    --color-textSecondary: #666666;

    --color-secondary: #018ADA;
    --color-primary: #333333;
    --color-primaryDark: #1a1a1a;
    --color-primaryLight: #4d4d4d;
}

@layer components{
    .typefield{
        @apply font-mono text-textPrimary;
    }

}
div#game{
    line-height: 35px;
    height:105px;
    overflow:hidden;
}